*{
    font-family: 'Poppins', sans-serif;
    /* margin: 0px; */
}
body{
  margin: 2px;
  transition: 0.5s;
}
h1{
    color: cadetblue ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    top: 0;
    text-align: center;
    margin: 0px;
    transition: 0.5s;
}

img{
    transition: 0.2s;
    margin: 5px;
    
    /* object-fit: contain; */
    height: fit-content;;
    max-width: 28vw;
    /*height: auto;
    width: auto\9; /* ie8 */

}
img:hover{
    transform: scale(1.1);
}

#b1{
    border: 2px solid black;
}
#b2{
    border-radius: 4px;
}
button{
    cursor: pointer;
    padding: 8px;
    margin-top: 10px;
    background-color: blue;
    border: none;
    color: white;
    font-size: 2ex;
    border-radius: 1em;
    transition: 0.5s;

    
}
button:hover{
    background-color: darkblue;
}
a:link {
    color: red;
  }
  
  a:visited {
    color: green;
  }
  
  a:hover {
    color: hotpink;
  }
  
  a:active {
    color: blue;
  }
  #pictur_line{
    display: inline-flex;
    align-items:center;
  }
  footer{
    left: 0px;
    position: sticky;
    padding:0px 20px;
    bottom: 0px;
    background-color: #6bb1c5;
    height: fit-content;
    width:-webkit-fill-available;
    display: flex;
    justify-content: space-between;
    border-radius:20px 20px 0px 0px; 
  }
  h3{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  header{
    position: sticky;
    top: 0px;
    padding:0px 10px;
    align-items: baseline;
    width:-webkit-fill-available;
    height: fit-content;
    background-color: aliceblue;
    z-index: 1;
    left: 0px;
    border-radius:0px 0px 20px 20px; 
    transition: 0.5s;

  }
  .header_line{
    align-items: baseline;
    justify-content: space-between;
    width:-webkit-fill-available;
    height: fit-content;
    display: flex;
  }
  h4{
    cursor: pointer;
    transition: 0.1s;
  }
  h4:hover{
    transform: scale(1.05);
  }

  .butten_line{
    height: fit-content;
    width:-webkit-fill-available;
    display: flex;
    justify-content: space-between; 
    padding: 10px 20px;
  }

/* dark mood def */

.dark_mood{
  background-color: black;
  color: white;
}
.dark_mood_header{
  background-color: darkcyan;
  color: white;
}
.dark_mood_h1{
  color: bisque;
}